<section class="canister">
  <div class="status-container" style="height: 20%">
    <span *ngIf="applicationStatus == ApplicationStatus.APPLIED">
      <ion-icon src="assets/status/applied.svg"></ion-icon>
      <h4 class="waiting-for-approval">Waiting for Approval</h4>
    </span>
    <span *ngIf="applicationStatus == ApplicationStatus.APPROVED">
      <ion-icon src="assets/status/approved.svg"></ion-icon>
      <h4 class="accepted">Request Approved</h4>
      <h3>Requested amount will be transferred within 24 hours of working time</h3>
    </span>

    <span *ngIf="applicationStatus == ApplicationStatus.REJECTED">
      <ion-icon src="assets/status/rejected.svg"></ion-icon>
      <h4 class="rejected">Rejected</h4>
    </span>
    <span *ngIf="applicationStatus == ApplicationStatus.VERIFICATION">
      <ion-icon src="assets/status/verification-progress.svg"></ion-icon>
      <h4 class="waiting-for-approval">Verification in progress</h4>
    </span>
  </div>
  <div *ngIf="application!=null" class="content-container">
    <fieldset class="content" style="min-height: 160vh" [disabled]="true">
      <span class="app-input">
        <h2>Account Details</h2>
      </span>
      <form class="input-fields">
        <span>
          <h3>Account Number</h3>
          <span class="input-field">
            <input type="text" class="app-input" [value]="application.account_ID">
          </span>
        </span>
      </form>

      <span class="app-input">
        <h2>Personal Details</h2>
      </span>
      <form class="input-fields" >
        <span>
          <h3>First Name</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userTable!.firstName"
                   class="app-input" >
          </span>
        </span>
        <span>
          <h3>Middle Name</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userTable!.middleName"
                   class="app-input" >
          </span>
        </span>
        <span>
          <h3>Last Name</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userTable!.lastName"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Email ID</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userTable!.emailId"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Phone Number</h3>
          <span class="input-field">
            <input type="number"
                   [value]="application!.userTable!.phNumber"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>DOB</h3>
          <span class="input-field">
            <input type="date"
                   [value]="application!.userTable!.dob!.split('T')[0]"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Gender</h3>
          <span class="input-radio-group">
            <span>
              <input id="male" value="male"
                     type="radio"
                     name="gender"
                     [checked]="application!.userTable!.gender == 'male'">
              <label style="width: 100%" for="male">Male</label>
            </span>
            <span>
              <input id="female" value="female"
                     type="radio"
                     name="gender"
                     [checked]="application!.userTable!.gender == 'female'"
              >
              <label style="width: 100%" for="female">Female</label>
            </span>
            <span>
              <input id="not-specify"
                     value="unspecified"
                     type="radio"
                     [checked]="application!.userTable!.gender == 'unspecified'"
                     name="gender" >
              <label style="width: 100%" for="not-specify">Rather Not Specify</label>
            </span>
          </span>
        </span>
        <span>
          <h3>Nationality</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userTable!.nationality"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Aadhar No</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userTable!.adharNo"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>PAN ID</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userTable!.panId"
                   class="app-input" >
          </span>
        </span>
      </form>
      <!--        Income Details-->
      <span class="app-input">
        <h2>Income Details</h2>
      </span>
      <form class="input-fields" >
        <span>
          <h3>Employment Type</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userLoan!.incomeDetails!.employmentType"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Retirement Age</h3>
          <span class="input-field" >
            <input type="number"
                   [value]="application!.userLoan!.incomeDetails!.retire"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Organization</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userLoan!.incomeDetails!.employerName"
                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Employer</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userLoan!.incomeDetails!.employerName"

                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Property Location</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userLoan!.incomeDetails!.propertyLocation"

                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Property Name</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userLoan!.incomeDetails!.propertyName"

                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Estimated Cost</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userLoan!.incomeDetails!.estimatedCost"

                   class="app-input" >
          </span>
        </span>
      </form>
      <!--        LOAN details-->
      <span class="app-input">
      <h2>Loan Details</h2>
      </span>
      <form class="input-fields" >
        <span>
          <h3>Tenure</h3>
          <span class="input-field">
            <input type="text"
                   [value]="application!.userLoan!.loanDetails!.tenure"

                   class="app-input" >
          </span>
        </span>
        <span>
        <h3>Loan Amount</h3>
          <span class="input-field">
            <input type="number"
                   [value]="application!.userLoan!.loanDetails!.loanAmount"

                   class="app-input" >
          </span>
        </span>
      </form>
    </fieldset>
  </div >
</section>
