.canister{
  width:100%;
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 80vh;
  /*height: 100vh;*/
  background-color:white;
}
.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width:30%;
  height:auto;
  position:relative;
  background-color:white;
  padding:2rem 1.0rem ;
  box-shadow: 0px 0px 5px slategrey;
}
.form-box .title{
  width: 100%;
  height: auto;
  margin: 5% auto;
  display: flex;
  justify-content: space-evenly;
}
.form-box .title > * {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*place-items: center;*/
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.form-box .title > *:after{
  content: '';
  width: 100%;
  height: 0;
  margin-top: 2%;
  border: 1px solid black;
}
.form-box .title .active{
  opacity: 1.0 !important;
}
.button-box{
    width:220px;
    margin:35px auto;
    position:relative;
}
.toggle-btn{
    padding:10px 30px;
    cursor:pointer;
    background-color:transparent;
    border:0;
    outline:none;
    position:relative;
    left:-200px;
    border-bottom:1px solid #999;
    font-family:verdana;
    font-size:20px;
}
#btn{
    font-size:30px;
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height:100%;
    transition:.5s;
}
.input-group{
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 25px;
  width: 80%;
  transition:.5s;
}
.input-field{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-right:0;
    border-top:0;
    border-bottom:1px solid #999;
    background:transparent;
}
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background:#005C6D;
    border:0;
    outline:none;
    border-radius:30px;
}
.check-box{
    margin:30px 10px 30px 0;
}
#login{
    left:50px;
}
#Signup{
    left:400px;
}

.app-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app-input input{
  width: 80%;
  border: none;
  user-select: none;
  outline: none;
}
.app-input ion-icon{
  width: 20%;
  font-size: 24px;
  color: black;
}
