<div class="canister">
    <div class="form-box">
      <span class="title">
        <h4 (click)="navigateTo('sign-in')">
          Login
        </h4>
        <h4 class="active" >
          SignUp
        </h4>
      </span>
      <form id="Signup" class="input-group" [formGroup]="details">
        <span style="display:flex;flex-direction: column;width: 100%;">
          <input type="text" class="app-input" placeholder="Full name" formControlName="fullName" required>
          <small class="error" *ngIf="isValid('fullName')">Field is invalid</small>
        </span>

        <span style="display:flex;flex-direction: column;width: 100%;">
          <input type="text" class="app-input" placeholder="Email" formControlName="emailId" required>
          <small class="error" *ngIf="isValid('emailId')">Field is invalid</small>
        </span>

        <span style="display:flex;flex-direction: column;width: 100%;">
          <input type="password" class="app-input" placeholder="Password" formControlName="password"required>
          <small class="error" *ngIf="isValid('password')">Field is invalid</small>
        </span>

        <span style="display:flex;flex-direction: column;width: 100%;">
          <input type="text" class="app-input" placeholder="Confirm Password" formControlName="confirmPassword" required>
          <small class="error" *ngIf="isValid('confirmPassword')">Field is invalid</small>
          <small class="error" *ngIf="formSubmitted && details.get('confirmPassword')!.value!=details.get('password')!.value">Password Do Not Match</small>

        </span>
        <span style="margin-left: 0;margin-right: auto;">
          <input id="remember" type="checkbox" class="check-box">
          <label for="remember" style="color: slategray"><small>By signing up, I agree to the terms and conditions</small></label>
        </span>
        <button type="submit" class="primary-button" (click)="OnSignUp()">Sign Up</button>
      </form>
    </div>
</div>

