<div class="Home">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="Signup()">Signup</button>
        </div>
        <form id="Signup" class="input-group" FormGroup="details">
            <input type="text" class="input-field" placeholder="Enter Full name" FormControlName="fullname" required>
            <small class="error" *ngIf="details.get('fullname')?.errors && details.get('fullname')?.touched
                        ||details.get('fullname')?.dirty">Field is invalid</small>
            <input type="text" class="input-field" placeholder="Enter Email id" FormControlName="Emailid" required>
            <small class="error" *ngIf="details.get('Emailid')?.errors && details.get('Emailid')?.touched
                        ||details.get('Emailid')?.dirty">Field is invalid</small>
      <input type="text" class="input-field" placeholder="Create Password" FormControlName="password"required>
            <input type="text" class="input-field" placeholder="Reenter Password" FormControlName="reenterpassword" required>
            <input type="checkbox" class="check-box"><span>I agree to the terms and conditions</span>
            <button type="submit" class="submit-btn" (click)="OnSignUp()">Register</button>
        </form>
    </div>
</div>

