<floating-widget
  #emiCalculator
  [widgetTitle]="'EMI Calculator'"
>
  <form class="emi-calculator-container" [formGroup]="emiForm">
    <span>
      <h4>Loan</h4>
      <span style="flex-direction: column;width: 100%">
        <input type="text" class="app-input" placeholder="Loan" formControlName="loan">
        <h6 *ngIf="emiForm.controls['loan'].invalid && (emiForm.controls['loan'].dirty || emiForm.controls['loan'].touched)" class="error">Field is invalid</h6>
      </span>
    </span>
    <span>
      <h4>Tenure</h4>
      <span style="flex-direction: column;width: 100%">
        <input type="text" class="app-input" placeholder="Tenure" formControlName="tenure">
        <h6 *ngIf="emiForm.controls['tenure'].invalid && (emiForm.controls['tenure'].dirty || emiForm.controls['tenure'].touched)" class="error">Field is invalid</h6>
      </span>
    </span>
    <span>
      <h4>ROI</h4>
      <span style="flex-direction: column;width: 100%">
        <input [disabled]="true" [class.disabled-option]="true" type="text" class="app-input" placeholder="ROI" formControlName="roi">
        <h6 *ngIf="emiForm.controls['roi'].invalid && (emiForm.controls['roi'].dirty || emiForm.controls['roi'].touched)" class="error">Field is invalid</h6>
      </span>
    </span>
    <span>
      <h4>EMI</h4>
      <span style="flex-direction: column;width: 100%">
        <input type="text" class="app-input" placeholder="EMI" [disabled]="true" formControlName="emi">
      </span>
    </span>
    <span>
      <button [disabled]="emiForm.invalid" [class.disabled-option]="emiForm.invalid" class="primary-button" (click)="CalculateEMI()">Calculate</button>
    </span>

  </form>

</floating-widget>
<floating-widget
  #eligibilityWidget
  [widgetTitle]="'Eligibility Calculator'"
>
  <form class="emi-calculator-container" [formGroup]="this.eligibilityForm">
    <span>
      <h4>Monthly Income</h4>
      <span style="flex-direction: column;width: 100%">
        <input type="text" class="app-input" placeholder="Monthly Income" formControlName="loan">
        <h6 *ngIf="eligibilityForm.controls['loan'].invalid && (eligibilityForm.controls['loan'].dirty || eligibilityForm.controls['loan'].touched)" class="error">Field is invalid</h6>
      </span>
    </span>
    <span>
      <h4>ROI</h4>
      <span style="flex-direction: column;width: 100%" >
        <input type="text" class="app-input" placeholder="ROI" formControlName="roi" [disabled]="true">
      </span>
    </span>
    <span>
      <h4>Eligible Amt.</h4>
      <span style="flex-direction: column;width: 100%" >
        <input type="text" class="app-input" style="color: black" placeholder="Yes/No" formControlName="eligible" [disabled]="true">
      </span>
    </span>
    <span>
      <button
        class="primary-button"
        [disabled]="eligibilityForm.invalid"
        [class.disabled-option]="eligibilityForm.invalid" (click)="CalculateEligibility()">
        Calculate
      </button>
    </span>

  </form>

</floating-widget>

<section class="canister">
  <div>
    <span class="advertisement-runner-container">
      <span>
        <img *ngIf="adCount==0" src="assets/ads/ad1.jpg"/>
        <img *ngIf="adCount==1" src="assets/ads/ad2.jpg"/>
        <img *ngIf="adCount==2" src="assets/ads/ad3.jpg"/>
      </span>
    </span>
    <span class="loan-tracker-container">
      <h3>
        Quick Loan Tracker
      </h3>
      <input type="text" class="app-input" placeholder="Loan Tracker Number">
      <button class="primary-button">
        <h5>Find</h5>
      </button>
    </span>
  </div>
  <span class="info-runner">
    <h5>
      Get Instance loan in our Instant loan plan and get a chance to win 1500 ₹  cashback.  Premium plans ensures your safety. Insured by us, Ensured by you
    </h5>
  </span>
  <nav class="nav-bar primary-background-color">
    <a>
      Features
    </a>
    <a>
      Premim Plans
    </a>
    <a>
      Submit Documents
    </a>

  </nav>

  <div class="menu-container">
    <span class="menu">
      <label class="title">Services</label>
      <span class="menu-tab">
        <span class="link-container" style="flex-direction: row">
          <button class="empty-button" (click)="TestMethod()"><h3>Contact Us</h3></button>
          <span class="vertical-line"></span>
          <button class="empty-button" (click)="navigateTo('sign-in')"><h3>Login</h3></button>
        </span>
        <span class="horizontal-line"></span>
        <span class="link-container">
          <a (click)="emiCalculator.Show()">EMI Calculator</a>
          <a>Premium</a>
          <a (click)="eligibilityWidget.Show()">Easy Calculator</a>
          <a>Verify Loan Application</a>
          <a>Service Request</a>
        </span>
      </span>
    </span>
    <span class="menu">
      <label class="title">Services</label>
      <span class="menu-tab">
        <span class="link-container offers-tab">
          <a>
            <span>
              <p>
              Processing charges
              reduced to 50%
                <br>
              <small>(*within 31st July)</small>
              </p>
              <span>
                <img src="assets/offers/offers%20-%201%20.png">
              </span>
            </span>
          </a>

          <a>
            <span>
              <p>
              Choose the lowest
              interest rates home
              loan schemes
              </p>
              <span>
                <img src="assets/offers/offers%20-%202.png">
              </span>
            </span>
          </a>

          <a>
            <span>
              <p>
                Get Insured,<br>
                be Ensured
              </p>
              <span>
                <img src="assets/offers/offers%20-%203.png">
              </span>
            </span>
          </a>


        </span>

      </span>
    </span>
    <span class="menu">
      <label class="title">Companion</label>
      <span class="menu-tab">
        <span class="link-container companion-tab">
          <button class="empty-button" style="background-color: #769FBC" (click)="eligibilityWidget.Show()">
            <h3>Eligibility Calculator</h3>
            <img class="right-align" src="assets/companion/offer%20-%201.png">
          </button>
          <button class="empty-button" style="background-color: #63DBF2" (click)="emiCalculator.Show()">
            <h3>EMI Calculator</h3>
            <img class="right-align" src="assets/companion/offer%20-%202.png">
          </button>
          <button class="empty-button" style="background-color: #0C2D5E">
            <h3>Talk to Rebecca</h3>
            <img class="right-align" src="assets/companion/rebecca.png">
          </button>

        </span>
      </span>
    </span>

  </div>

</section>
