
<!--<h2 class="right-align" (click)="MoveTo(applicationState.PERSONAL)">-->
<!--  <ion-icon name="create"></ion-icon>-->
<!--</h2>-->

<!--<div *ngSwitchCase="applicationState.PERSONAL" class="content" >-->
<!--        <span class="app-input">-->
<!--          <h2>Personal Details</h2>-->
<!--        </span>-->
<!--  <form class="input-fields" formGroupName="personal">-->
<!--          <span>-->
<!--            <h3>First Name</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="text" class="app-input" formControlName="firstName">-->
<!--              <small class="error" *ngIf="personalForm['firstName'].errors">error</small>-->
<!--            </span>-->
<!--          </span>-->
<!--    <span>-->
<!--            <h3>Middle Name</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="text" class="app-input" formControlName="middleName">-->
<!--              <small class="error">error</small>-->
<!--            </span>-->
<!--          </span>-->
<!--    <span>-->
<!--            <h3>Last Name</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="text" class="app-input" formControlName="lastName">-->
<!--              <small class="error">error</small>-->
<!--            </span>-->
<!--          </span>-->
<!--    <span>-->
<!--            <h3>Email ID</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="text" class="app-input" formControlName="emailId">-->
<!--              <small class="error">error</small>-->
<!--            </span>-->
<!--          </span>-->
<!--    <span>-->
<!--            <h3>Phone Number</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="number" class="app-input" formControlName="phNumber">-->
<!--              <small class="error">error</small>-->
<!--            </span>-->
<!--          </span>-->
<!--    <span>-->
<!--            <h3>DOB</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="date" class="app-input" formControlName="DOB">-->
<!--              <small class="error">error</small>-->
<!--            </span>-->
<!--          </span>-->
<!--    <span>-->
<!--            <h3>Gender</h3>-->
<!--            <span class="input-radio-group">-->
<!--              <span>-->
<!--                <input id="male" value="male" type="radio" name="gender" formControlName="gender">-->
<!--                <label style="width: 100%" for="male">Male</label>-->
<!--              </span>-->
<!--              <span>-->
<!--                <input id="female" value="female" type="radio" name="gender" formControlName="gender">-->
<!--                <label style="width: 100%" for="female">Female</label>-->
<!--              </span>-->
<!--              <span>-->
<!--                <input id="not-specify" value="unspecified" type="radio" name="gender" formControlName="gender">-->
<!--                <label style="width: 100%" for="not-specify">Rather Not Specify</label>-->
<!--              </span>-->
<!--            </span>-->
<!--          </span>-->
<!--    <span>-->
<!--            <h3>Nationality</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="text" class="app-input" formControlName="nationality">-->
<!--              <small class="error">error</small>-->
<!--            </span>-->
<!--            </span>-->
<!--    <span>-->
<!--            <h3>Aadhar No</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="text" class="app-input" formControlName="aadharNo">-->
<!--              <small class="error">error</small>-->
<!--            </span>-->
<!--          </span>-->
<!--    <span>-->
<!--            <h3>PAN ID</h3>-->
<!--            <span class="input-field">-->
<!--              <input type="text" class="app-input" formControlName="panId">-->
<!--              <small class="error">error</small>-->
<!--            </span>-->
<!--          </span>-->
<!--  </form>-->
<!--  <span>-->
<!--          <button class="primary-button next" (click)="ProceedToNext()">Next-></button>-->
<!--        </span>-->
<!--</div>-->




<section id="canister" class="canister">
  <div class="navigator">
    <a [class.active]="currentApplicationState==applicationState.PERSONAL"
       (click)="MoveTo(applicationState.PERSONAL)">Personal Details</a>
    <a [class.active]="currentApplicationState==applicationState.INCOME"
       (click)="MoveTo(applicationState.INCOME)">Income Details</a>
    <a [class.active]="currentApplicationState==applicationState.LOAN"
       (click)="MoveTo(applicationState.LOAN)">Loan Details</a>
    <a [class.active]="currentApplicationState==applicationState.DOCUMENTS"
       (click)="MoveTo(applicationState.DOCUMENTS)">Documents</a>
    <a [class.active]="currentApplicationState==applicationState.REVIEW"
       (click)="MoveTo(applicationState.REVIEW)">Application Review</a>
  </div>
  <form class="content-container" [formGroup]="details">
    <ng-container [ngSwitch]="currentApplicationState">
      <div *ngSwitchCase="applicationState.PERSONAL" class="content" >
        <span class="app-input">
          <h2>Personal Details</h2>
        </span>
        <form class="input-fields" formGroupName="personal">
          <span>
            <h3>First Name</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="firstName">
              <small class="error"
                     *ngIf="controlValid(personalForm,'firstName')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Middle Name</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="middleName">
<!--              <small class="error"-->
<!--                     *ngIf="personalForm.get('firstName')?.errors && (personalForm.get('firstName')?.touched || personalForm.get('firstName')?.dirty)">Field is invalid</small>-->
            </span>
          </span>
          <span>
            <h3>Last Name</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="lastName">
              <small class="error"
                     *ngIf="controlValid(personalForm,'lastName')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Email ID</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="emailId">
              <small class="error"
                     *ngIf="controlValid(personalForm,'emailId')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Phone Number</h3>
            <span class="input-field">
              <input type="number" class="app-input" formControlName="phNumber">
              <small class="error"
                     *ngIf="controlValid(personalForm,'phNumber')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>DOB</h3>
            <span class="input-field">
              <input type="date" class="app-input" formControlName="DOB">
              <small class="error"
                     *ngIf="controlValid(personalForm,'DOB')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Gender</h3>
            <span class="input-radio-group">
              <span>
                <input id="male" value="male" type="radio" name="gender" formControlName="gender"
                       [checked]="personalForm.get('gender')?.value == 'male'">
                <label style="width: 100%" for="male">Male</label>
              </span>
              <span>
                <input id="female" value="female" type="radio" name="gender" formControlName="gender"
                       [checked]="personalForm.get('gender')?.value == 'female'">
                <label style="width: 100%" for="female">Female</label>
              </span>
              <span>
                <input id="not-specify" value="unspecified" type="radio" name="gender" formControlName="gender"
                       [checked]="personalForm.get('gender')?.value == 'unspecified'">
                <label style="width: 100%" for="not-specify">Rather Not Specify</label>
              </span>
            </span>
          </span>
          <span>
            <h3>Nationality</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="nationality">
              <small class="error"
                     *ngIf="controlValid(personalForm,'nationality')">Field is invalid</small>
            </span>
            </span>
          <span>
            <h3>Aadhar No</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="aadharNo">
              <small class="error"
                     *ngIf="controlValid(personalForm,'aadharNo')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>PAN ID</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="panId">
              <small class="error"
                     *ngIf="controlValid(personalForm,'panId')">Field is invalid</small>
            </span>
          </span>
        </form>
        <span>
          <button class="primary-button next"
                  (click)="ProceedToNext()"
                  [disabled]="personalForm.invalid"
                  [class.disabled-option]="personalForm.invalid">Next-></button>
        </span>
      </div>

      <div *ngSwitchCase="applicationState.INCOME" class="content">
        <span class="app-input">
          <h2>Income Details</h2>
        </span>
        <form class="input-fields" formGroupName="income">
          <span>
            <h3>Employment Type</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="employmentType">
              <small class="error"
                     *ngIf="controlValid(incomeForm,'employmentType')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Retirement Age</h3>
            <span class="input-field" >
              <input type="number" class="app-input" formControlName="retire">
              <small class="error"
                     *ngIf="controlValid(incomeForm,'retire')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Organization</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="organization">
              <small class="error"
                     *ngIf="controlValid(incomeForm,'organization')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Employer</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="employerName">
              <small class="error"
                     *ngIf="controlValid(incomeForm,'employerName')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Property Location</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="propertyLocation">
              <small class="error"
                     *ngIf="controlValid(incomeForm,'propertyLocation')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Property Name</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="propertyName">
              <small class="error"
                     *ngIf="controlValid(incomeForm,'propertyName')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Estimated Cost</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="estimatedCost">
              <small class="error"
                     *ngIf="controlValid(incomeForm,'estimatedCost')">Field is invalid</small>
            </span>
          </span>
        </form>
        <span>
          <button class="primary-button next"
                  [disabled]="incomeForm.invalid"
                  [class.disabled-option]="incomeForm.invalid"
                  (click)="ProceedToNext()">Next-></button>
        </span>
      </div>

      <div *ngSwitchCase="applicationState.LOAN" class="content">
        <span class="app-input">
          <h2>Loan Details</h2>
        </span>
        <form class="input-fields" formGroupName="loan">
          <span>
            <h3>Tenure</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="tenure">
              <small class="error"
                     *ngIf="controlValid(loanForm,'tenure')">Field is invalid</small>
            </span>
          </span>
          <span>
            <h3>Loan Amount</h3>
            <span class="input-field">
              <input type="number" class="app-input" formControlName="loanAmount">
              <small class="error"
                     *ngIf="controlValid(loanForm,'loanAmount')">Field is invalid</small>
            </span>
          </span>
        </form>
        <span>
          <button class="primary-button next"
                  [disabled]="loanForm.invalid"
                  [class.disabled-option]="loanForm.invalid"
                  (click)="ProceedToNext()">Next-></button>
        </span>
      </div>

      <div *ngSwitchCase="applicationState.DOCUMENTS" class="content" style="min-height: 160vh">
        <span class="app-input">
          <h2>Loan Details</h2>
        </span>
        <div class="document-field">
          <span class="container">
            <h4>PAN ID</h4>
            <span>
              <img src="assets/empty-image.png">
              <input type="file" accept="image/png" value="Upload">
            </span>
          </span>
          <span class="container">
            <h4>Voter ID</h4>
            <span>
              <img src="assets/empty-image.png">
              <input type="file" accept="image/png" value="Upload">
            </span>
          </span>
          <span class="container">
            <h4>Salary Slip</h4>
            <span>
              <img src="assets/empty-image.png">
              <input type="file" accept="image/png" value="Upload">
            </span>
          </span>
          <span class="container">
            <h4>LOA</h4>
            <span>
              <img src="assets/empty-image.png">
              <input type="file" accept="image/png" value="Upload">
            </span>
          </span>
          <span class="container">
            <h4>NOC</h4>
            <span>
              <img src="assets/empty-image.png">
              <input type="file" accept="image/png" value="Upload">
            </span>
          </span>
          <span class="container">
            <h4>Sale Agreement</h4>
            <span>
              <img src="assets/empty-image.png">
              <input type="file" accept="image/png" value="Upload">
            </span>
          </span>
        </div>
        <span style="margin: 2%">
          <button class="primary-button next" (click)="ProceedToNext()">Next-></button>
        </span>
      </div>

      <fieldset *ngSwitchCase="applicationState.REVIEW" class="content" style="min-height: 160vh">
        <span class="app-input">
          <h2>Personal Details</h2>
          <h2 class="right-align" (click)="MoveTo(applicationState.PERSONAL)">
            <ion-icon name="create"></ion-icon>
          </h2>
        </span>
        <form class="input-fields" formGroupName="personal">
          <span>
            <h3>First Name</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="firstName">
            </span>
          </span>
          <span>
            <h3>Middle Name</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="middleName">
            </span>
          </span>
          <span>
            <h3>Last Name</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="lastName">
            </span>
          </span>
          <span>
            <h3>Email ID</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="emailId">
            </span>
          </span>
          <span>
            <h3>Phone Number</h3>
            <span class="input-field">
              <input type="number" class="app-input" formControlName="phNumber">
            </span>
          </span>
          <span>
            <h3>DOB</h3>
            <span class="input-field">
              <input type="date" class="app-input" formControlName="DOB">
            </span>
          </span>
          <span>
            <h3>Gender</h3>
            <span class="input-radio-group">
              <span>
                <input id="male" value="male" type="radio" name="gender" formControlName="gender"
                       [checked]="personalForm.get('gender')?.value == 'male'">
                <label style="width: 100%" for="male">Male</label>
              </span>
              <span>
                <input id="female" value="female" type="radio" name="gender" formControlName="gender"
                       [checked]="personalForm.get('gender')?.value == 'female'">
                <label style="width: 100%" for="female">Female</label>
              </span>
              <span>
                <input id="not-specify" value="unspecified" type="radio" name="gender" formControlName="gender"
                       [checked]="personalForm.get('gender')?.value == 'unspecified'">
                <label style="width: 100%" for="not-specify">Rather Not Specify</label>
              </span>
            </span>
          </span>
          <span>
            <h3>Nationality</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="nationality">
            </span>
            </span>
          <span>
            <h3>Aadhar No</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="aadharNo">
            </span>
          </span>
          <span>
            <h3>PAN ID</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="panId">
            </span>
          </span>
        </form>
<!--        Income Details-->
        <span class="app-input">
          <h2>Income Details</h2>
          <h2 class="right-align" (click)="MoveTo(applicationState.INCOME)">
            <ion-icon name="create"></ion-icon>
          </h2>
        </span>
        <form class="input-fields" formGroupName="income">
          <span>
            <h3>Employment Type</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="employmentType">
            </span>
          </span>
          <span>
            <h3>Retirement Age</h3>
            <span class="input-field" >
              <input type="number" class="app-input" formControlName="retire">
            </span>
          </span>
          <span>
            <h3>Organization</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="organization">
            </span>
          </span>
          <span>
            <h3>Employer</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="employerName">
            </span>
          </span>
          <span>
            <h3>Property Location</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="propertyLocation">
            </span>
          </span>
          <span>
            <h3>Property Name</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="propertyName">
            </span>
          </span>
          <span>
            <h3>Estimated Cost</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="estimatedCost">
            </span>
          </span>
        </form>
<!--        LOAN details-->
        <span class="app-input">
          <h2>Loan Details</h2>
          <h2 class="right-align" (click)="MoveTo(applicationState.LOAN)">
            <ion-icon name="create"></ion-icon>
          </h2>
        </span>
        <form class="input-fields" formGroupName="loan">
          <span>
            <h3>Tenure</h3>
            <span class="input-field">
              <input type="text" class="app-input" formControlName="tenure">
            </span>
          </span>
          <span>
            <h3>Loan Amount</h3>
            <span class="input-field">
              <input type="number" class="app-input" formControlName="loanAmount">
            </span>
          </span>
        </form>

        <span style="margin: 2%">
          <button class="primary-button next" [disabled]="false" (click)="Register()">Register</button>
        </span>
      </fieldset>

    </ng-container>
  </form>
</section>
