
<floating-widget #viewDoc [widgetTitle]="viewableDocParams.title">
  <img *ngIf="viewableDocParams!=undefined && viewableDocParams.image;else pdfViewer"
       [src]="viewableDocParams.src"
       style="object-fit: scale-down;width: 100%;margin: 2%;min-height: 600px"/>

  <ng-template #pdfViewer>
    <iframe *ngIf="viewableDocParams!=undefined" [src]="viewableDocParams.src" style="width: 100%;margin: 2%;min-height: 600px">
    </iframe>
  </ng-template>
</floating-widget>

<floating-widget #ConfirmUpdate [widgetTitle]="'Confirmation'">
  <section style="display: flex;height: 160px;flex-direction: column;width: 80%;margin: auto;place-items: center;justify-content: center">

    <h2>Are you sure you want confirm this action?</h2>
    <input #signature type="text" placeholder="Signature" class="app-input">
    <button type="submit" class="primary-button" (click)="OnUpdateApprove(signature.value)">Approve</button>

  </section>
</floating-widget>

<div class="menu-container">
  <div>
    <ion-icon name="reload" (click)="reload()"></ion-icon>
  </div>
  <span class="vertical-line"></span>
  <div>
    <h4 class="error">Applications : {{(accounts.length)}}</h4>
  </div>
  <div>
    <h4 class="error">Status : </h4>
    <select #filterStatusOptions (change)="ApplyFilter(filterStatusOptions.value)">
      <option [value]="'*'" selected>*</option>
      <option [value]="applicationStatus.APPLIED">Applied</option>
      <option [value]="applicationStatus.VERIFICATION">Verification</option>
      <option [value]="applicationStatus.APPROVED">Approved</option>
      <option [value]="applicationStatus.REJECTED">Rejected</option>
    </select>
  </div>
  <div>
    <h4 class="error">Sort (Time)</h4>
    <select>
      <option selected>Ascending</option>
      <option>Descending</option>
    </select>
  </div>

</div>

<section class="canister">
  <div class="navigator" *ngIf="accounts.length>0">
    <h3>
      Accounts
    </h3>
    <a
      *ngFor="let account of accounts;let index = index"
      (click)="selectedIndex = index"
      [class.active]="selectedIndex == index">
      <h4>
        {{index+1}}.
      </h4>
      <h4>
        {{account.account_ID}}
      </h4>
<!--      &emsp;{{index+1}}.&emsp; {{account.account_ID}}-->
    </a>
  </div>
  <div class="content-container">
    <div *ngIf="state == WidgetState.LOADING;else showResults" style="width: 100%;height: 100%;display: flex">
      <span class="loader">

      </span>
    </div>
    <ng-template #showResults>
      <div style="display: flex;flex-direction: column;justify-content: center;place-items: center;opacity: 0.5;">
        <img src="assets/status/searching-error.png" class="error-status">
        <h3>No Results Found</h3>
      </div>
      <fieldset class="content" style="min-height: 160vh" *ngIf="accounts.length>0 && selectedIndex!=-1">
        <span class="app-input">
          <h2>Account Details</h2>
        </span>
        <table class="input-fields">
          <tr style="width: 100%;display: flex;justify-content: space-evenly">
            <td style="width: 100%;display: flex">
              <span>
                <h5>Account Number</h5>
                <span class="input-field" >
                  <input type="text" class="app-input" [disabled]="true"
                         [value]="this.accounts[selectedIndex]!.account_ID">
                </span>
              </span>
            </td>
            <td style="width: 100%;display: flex">
              <span>
                <h5>FullName</h5>
                <span class="input-field" >
                  <input type="text" class="app-input" [disabled]="true"
                         [value]="this.accounts[selectedIndex]!.userTable!.firstName">
                </span>
              </span>
            </td>

          </tr>

          <tr style="width: 100%;display: flex;justify-content: space-evenly">
            <td style="width: 100%;display: flex">
              <span>
                <h5>Email ID</h5>
                <span class="input-field">
                  <input type="text"
                         class="app-input"
                         [disabled]="true"
                         [value]="this.accounts[selectedIndex]!.userTable!.emailId">
                </span>
              </span>
            </td>
            <td style="width: 100%;display: flex">
              <span>
                <h5>Phone Number</h5>
                <span class="input-field">
                  <input type="text"
                         [value]="this.accounts[selectedIndex]!.userTable!.phNumber"
                         class="app-input" [disabled]="true" >
                </span>
              </span>
            </td>

          </tr>

          <tr style="width: 100%;display: flex;justify-content: space-evenly">
            <td style="width: 100%;display: flex">
              <span>
                <h5>Aadhar No</h5>
                <span class="input-field">
                  <input type="text"
                         [value]="this.accounts[selectedIndex]!.userTable!.adharNo"
                         class="app-input" [disabled]="true">
                </span>
              </span>
            </td>
            <td style="width: 100%;display: flex">
              <span>
                <h5>Property Location</h5>
                <span class="input-field">
                  <input type="text"
                         [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.propertyLocation"
                         class="app-input" [disabled]="true">
                </span>
              </span>
            </td>

          </tr>

          <tr style="width: 100%;display: flex;justify-content: space-evenly">
            <td style="width: 100%;display: flex">
              <span>
                <h5>Estimated Cost</h5>
                <span class="input-field">
                  <input type="text"
                         [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.estimatedCost"
                         class="app-input" [disabled]="true">
                </span>
              </span>
            </td>
            <td style="width: 100%;display: flex">
              <span>
                <h5>Status</h5>
                <span class="input-field">
                  <select #status (change)="onUpdateStatus(status.value)">
                    <option [value]="applicationStatus.APPLIED"
                            [selected]="this.accounts[selectedIndex].status == applicationStatus.APPLIED">
                      Applied
                    </option>
                    <option [value]="applicationStatus.VERIFICATION"
                            [selected]="this.accounts[selectedIndex].status == applicationStatus.VERIFICATION"
                    >
                      Verification
                    </option>
                    <option [value]="applicationStatus.APPROVED"
                            [selected]="this.accounts[selectedIndex].status == applicationStatus.APPROVED"
                    >
                      Approved
                    </option>
                    <option [value]="applicationStatus.REJECTED"
                            [selected]="this.accounts[selectedIndex].status == applicationStatus.REJECTED"
                    >
                      Rejected
                    </option>
                  </select>
                </span>
              </span>
            </td>

          </tr>


        </table>

        <span class="app-input">
          <h2>Personal Details</h2>
        </span>
        <fieldset class="input-fields" [disabled]="true">
          <span>
            <h3>First Name</h3>
            <span class="input-field">
              <input type="text" class="app-input"
                     [value]="this.accounts[selectedIndex]!.userTable!.firstName"
              >
            </span>
          </span>
          <span>
            <h3>Middle Name</h3>
            <span class="input-field">
              <input type="text" class="app-input"
                     [value]="this.accounts[selectedIndex]!.userTable!.middleName"
              >
            </span>
          </span>
          <span>
            <h3>Last Name</h3>
            <span class="input-field">
              <input type="text" class="app-input"
                     [value]="this.accounts[selectedIndex]!.userTable!.lastName"
              >
            </span>
          </span>
          <span>
          <h3>Email ID</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userTable!.emailId"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Phone Number</h3>
            <span class="input-field">
              <input type="number"
                     [value]="this.accounts[selectedIndex]!.userTable!.phNumber"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>DOB</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userTable!.dob!.split('T')[0]"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Gender</h3>
            <span class="input-radio-group">
              <span>
                <input id="male" value="male" type="radio" name="gender" >
                <label style="width: 100%" for="male">Male</label>
              </span>
              <span>
                <input id="female" value="female" type="radio" name="gender" >
                <label style="width: 100%" for="female">Female</label>
              </span>
              <span>
                <input id="not-specify" value="unspecified" type="radio" name="gender" >
                <label style="width: 100%" for="not-specify">Rather Not Specify</label>
              </span>
            </span>
          </span>
          <span>
            <h3>Nationality</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userTable!.nationality"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Aadhar No</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userTable!.adharNo"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>PAN ID</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userTable!.panId"
                     class="app-input" >
            </span>
          </span>
        </fieldset>
        <!--        Income Details-->
        <span class="app-input">
          <h2>Income Details</h2>
        </span>
        <fieldset [disabled]="true" class="input-fields" >
          <span>
            <h3>Employment Type</h3>
            <span class="input-field">
              <input type="text"

                     [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.employmentType"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Retirement Age</h3>
            <span class="input-field" >
              <input type="number"
                     [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.retire"

                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Organization</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.employerName"

                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Employer</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.employerName"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Property Location</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.propertyLocation"

                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Property Name</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.propertyName"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Estimated Cost</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userLoan!.incomeDetails!.estimatedCost"
                     class="app-input" >
            </span>
          </span>
        </fieldset>
        <!--        LOAN details-->
        <span class="app-input">
        <h2>Loan Details</h2>
        </span>
        <fieldset [disabled]="true" class="input-fields" >
          <span>
            <h3>Tenure</h3>
            <span class="input-field">
              <input type="text"
                     [value]="this.accounts[selectedIndex]!.userLoan!.loanDetails!.tenure"
                     class="app-input" >
            </span>
          </span>
          <span>
          <h3>Loan Amount</h3>
            <span class="input-field">
              <input type="number"
                     [value]="this.accounts[selectedIndex]!.userLoan!.loanDetails!.loanAmount"
                     class="app-input" >
            </span>
          </span>
        </fieldset>
        <!--  Document Details    -->
        <span class="app-input">
            <h2>Loan Details</h2>
          </span>
        <form class="document-field">
          <span class="container" (click)="ViewDoc('PAN Card',true,'assets/documents/pancard.png')">
            <h4>PAN ID</h4>
            <span>
              <img src="assets/documents/pancard.png">
  <!--            <input type="file" accept="image/png" value="Upload">-->
            </span>
          </span>
          <span class="container" (click)="ViewDoc('Voter ID',true,'assets/documents/voter id.png')" >
            <h4>Voter ID</h4>
            <span>
              <img src="assets/documents/voter%20id.png">

  <!--            <input type="file" accept="image/png" value="Upload">-->
            </span>
          </span>
          <span class="container" (click)="ViewDoc('PaySlip',false,'assets/documents/payslip.pdf')">
            <h4>Salary Slip</h4>
            <span class="empty-background">
              <ion-icon name="attach-outline"></ion-icon>
              <h6>Click to View</h6>
  <!--            <input type="file" accept="image/png" value="Upload">-->
            </span>
          </span>
          <span class="container" (click)="ViewDoc('LOA',false,'assets/documents/loa.pdf')">
            <h4>LOA</h4>
            <span class="empty-background">
              <ion-icon name="attach-outline"></ion-icon>
              <h6>Click to View</h6>
  <!--            <input type="file" accept="image/png" value="Upload">-->
            </span>
          </span>
          <span class="container" (click)="ViewDoc('NOC',false,'assets/documents/noc.pdf')">
            <h4>NOC</h4>
            <span class="empty-background">
              <ion-icon name="attach-outline"></ion-icon>
              <h6>Click to View</h6>
  <!--            <input type="file" accept="image/png" value="Upload">-->
            </span>
          </span>
          <span class="container">
            <h4>Sale Agreement</h4>
            <span>
              <img src="assets/empty-image.png">
  <!--            <input type="file" accept="image/png" value="Upload">-->
            </span>
          </span>
        </form>



      </fieldset>
    </ng-template>
  </div>
</section>
