<section class="canister">
  <div class="content-container">
    <fieldset class="content" style="min-height: 160vh">

      <span class="app-input">
        <h2>Account Details</h2>
      </span>
      <form class="input-fields">
        <span>
          <h3>Account Number</h3>
          <span class="input-field">
            <input type="text" class="app-input">
          </span>
        </span>
      </form>

      <span class="app-input">
        <h2>Personal Details</h2>
      </span>
      <form class="input-fields" >
        <span>
          <h3>First Name</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
          <h3>Middle Name</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
          <h3>Last Name</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Email ID</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Phone Number</h3>
          <span class="input-field">
            <input type="number" class="app-input" >
          </span>
        </span>
        <span>
        <h3>DOB</h3>
          <span class="input-field">
            <input type="date" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Gender</h3>
          <span class="input-radio-group">
            <span>
              <input id="male" value="male" type="radio" name="gender" >
              <label style="width: 100%" for="male">Male</label>
            </span>
            <span>
              <input id="female" value="female" type="radio" name="gender" >
              <label style="width: 100%" for="female">Female</label>
            </span>
            <span>
              <input id="not-specify" value="unspecified" type="radio" name="gender" >
              <label style="width: 100%" for="not-specify">Rather Not Specify</label>
            </span>
          </span>
        </span>
        <span>
          <h3>Nationality</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Aadhar No</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>PAN ID</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
      </form>
      <!--        Income Details-->
      <span class="app-input">
        <h2>Income Details</h2>
      </span>
      <form class="input-fields" >
        <span>
          <h3>Employment Type</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Retirement Age</h3>
          <span class="input-field" >
            <input type="number" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Organization</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Employer</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Property Location</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Property Name</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Estimated Cost</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
      </form>
      <!--        LOAN details-->
      <span class="app-input">
      <h2>Loan Details</h2>
      </span>
      <form class="input-fields" >
        <span>
          <h3>Tenure</h3>
          <span class="input-field">
            <input type="text" class="app-input" >
          </span>
        </span>
        <span>
        <h3>Loan Amount</h3>
          <span class="input-field">
            <input type="number" class="app-input" >
          </span>
        </span>
      </form>
    </fieldset>
  </div>
</section>
