<span class="top-nav-bar">
  <span>
    <h3>
      Logo
    </h3>
  </span>
  <span>
    <button class="empty-button horizontal-align-button">
      <ion-icon name="help-circle-outline"></ion-icon>
      <h4>Help</h4>
    </button>
    <button class="empty-button horizontal-align-button">
      <ion-icon name="call-outline"></ion-icon>
      <h4>Contact</h4>
    </button>
  </span>
</span>

<nav class="nav-bar primary-background-color">
  <a>
    <ion-icon name="home-outline"></ion-icon>
    <h5>Home</h5>
  </a>
  <a>
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    <h5>Track Status</h5>
  </a>
  <a>
    <ion-icon name="calculator-outline"></ion-icon>
    <h5>Easy Calculator</h5>
  </a>
  <a>
    <ion-icon src="assets/bank.svg"></ion-icon>
    <h5>Apply Now</h5>
  </a>
  <a class="right-align">
    <ion-icon name="log-in-outline"></ion-icon>
    <h5>Login</h5>
  </a>


</nav>

<app-home></app-home>


<footer class="primary-background-color">
  <span>
    <h1>Logo Comes Here</h1>
  </span>
  <span class="links-container">
    <span class="links">
      <a>About Us</a>
      <a>Privacy Policy</a>
      <a>Contact Us</a>
      <a>Easy Loan</a>
      <a>EMI Calculator</a>
      <a>Track Loan</a>
      <a>Find Branches</a>
    </span>
    <span class="links">
      <h3 style="color: slategray">Connect</h3>
      <a>
        <ion-icon name="logo-instagram"></ion-icon> Instagram
      </a>
      <a>
        <ion-icon name="logo-facebook"></ion-icon> Facebook
      </a>
      <a>
        <ion-icon name="logo-twitter"></ion-icon> Twitter
      </a>
      <a>
        <ion-icon name="logo-linkedin"></ion-icon> LinkedIn
      </a>
    </span>
  </span>
</footer>
