<div class="loanbox">
  <ion-icon class="primary-background-color check-mark" name="checkmark-outline"></ion-icon>
  <p>Your application has been successfully submitted</p>
  <p>Note down the following details</p>
  <table *ngIf="applicationDetails!=undefined">
    <tr>
        <th><h3>Application Number</h3></th>
        <th>
          <h3>
            {{applicationDetails.get('account_ID')!.value}}
          </h3>
          <ion-icon name="copy"></ion-icon>
        </th>
    </tr>
    <tr>
        <th><h3>Name</h3></th>
        <th><h3>{{applicationDetails.get('userTable')!.get('firstName')!.value}}</h3></th>
    </tr>
    <tr>
        <th><h3>Email id</h3></th>
        <th>
          <h3>{{applicationDetails.get('userTable')!.get('emailId')!.value}}</h3>
        </th>
    </tr>
  </table>
<button type="submit" class="primary-button" (click)="navigateTo('')">close X</button>
</div>
