<div class="loanbox">
<ion-icon class="primary-background-color" name="checkmark-outline"></ion-icon>
<p>Your application has been successfully submitted</p>
<p>Note down the following details</p>
<table>
    <tr>
        <th>Application Number</th>
        <th><input type="Value" placeholder="value"></th>
    </tr>
    <tr>
        <th>Name</th>
        <th><input type="text" placeholder="value"></th>
    </tr>
    <tr>
        <th>Email id</th>
        <th><input type="text" placeholder="value"></th>
    </tr>
    <tr>
        <th>Date Of Appointment</th>
        <th><input type="text" placeholder="value"></th>
    </tr>
</table>
<button type="submit" class="primary-button">closeX</button>
</div>
